#loading-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-screen i {
  font-size: 10em;
  animation: rotate 2s ease infinite;
  color: #404549;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    color: green;
    font-size: 11em;

  }

  75% {
    transform: rotate(270deg);
    color: green;
  }
  100% {
    transform: rotate(360deg);
  }
}
